* {
    background-color: rgb(252, 212, 220);
}



.st {
    padding: 10px;
    font-size: 40px;
    color: red;
    text-align: center;
}

.head {
    text-align: center;
    padding-top: 10px;
    color: rgb(220, 15, 15);
}

.intro {
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.link {
    position: relative;
    color: blue;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 120%;
    left: 0;
    background-color: black;
    color: white;
    padding: 10px;
    width: 220px;
    font-size: 14px;
}

.link:hover .tooltip {
    visibility: visible;
}

.name{
    padding-left: 80px;
}

.content {
    padding: 20px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding-left: 40px;
}

.esc{
    padding-left: 60px;
}

.h1{
    padding-left: 15px;
}

.insta{
    padding-left: 25px;
}